// Variables 
$main_color: #927DFC;
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #{$main_color};
}
section{
    .main-box{
        background-color: #fff;
        width: 500px;
        cursor: pointer;
        .image-upload{
            border: 3px dotted $main_color;
            height: 250px;
        }
        .dimensions{
            input{
                outline: none;
                border: none;
                border: 1px solid #ccc;
                width: 180px;
            }
        }
        .check-box{
            div{
                flex-basis: 40%;
                input{
                    accent-color: $main_color;
                }
            }
        }
        @media (max-width: 767px) {
            .dimensions , .check-box{
                flex-direction: column;
                align-items: flex-start !important;
            }
        }
        button{
            outline: none;
            border: none;
            background-color: $main_color;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover{
                background-color: #866ff9;
            }
        }
    }
}
.active{
    width: 100%;
    height: 100%;
    object-fit: cover;
    + p{
        display: none !important;
    }
}